header.masthead2 {
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/xd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;

}


@media (min-width: 768px) {
  header.masthead2 {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead2 .masthead2-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead2 .masthead2-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}